/* ------------------------------ *\
   General Elements
\* ------------------------------ */

h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------ *\
   UI Specifics
\* ------------------------------ */

.brand {
  font-weight: 900;
}

.no-mar {
  margin: 0;
}

.habit-action {
  color: #999;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.habit-action:hover {
  color: #333;
}