<template name="habitItem">
    <div class="soft bg-white box breathe space-large">
        <div class="media group">
            <div class="img">
                <p class="no-mar uppercase"><strong>{{ name }}</strong></p>
            </div>

            <div class="img-ext">
                <button class="habit-action btn soft"><i class="icon-ok"></i></button>
                <button class="habit-action destroy btn soft"><i class="icon-trash"></i></button>
            </div>
        </div>
    </div>
</template>