<template name="habits">
    <div class="container">
        <div class="row group">
            <div class="column-8">
                <h1 class="ms4">{{ today }}</h1>
                <form id="habit-form">
                    <input id="new-habit" class="user-input input-large soft" type="text"
                    name="habit" placeholder="Add a new habit. E.g. Stop smoking">

                    <button id="add-habit-btn" class="btn soft" type="submit">Add Habit</button>
                </form>
            </div>
        </div>

        <div class="row group space">
            {{#if hasHabits.count}}
            <div class="column-8">
                {{#each habits}}
                    {{>habitItem}}
                {{/each}}
            </div>
            {{else}}
            <div class="column-8 box soft bg-white breathe">
                <p class="no-mar">You have not added any habits yet!</p>
                <p class="no-mar">Use the form above to add some habits you would like to create and / or ditch.</p>
            {{/if}}
            </div>
        </div>
    </div>
</template>