<template name="home">
    <section class="body">
        <div class="container">
            <h1 class="ms1 center-text">Can't stay motivated to pick up a new habit?</h1>
            <p class="center-text">HackBit is a simple web application designed to help you cultivate new habits and ditch bad ones through 30 Day Challenges.</p>

            <iframe class="center-block space-xlarge" src="http://player.vimeo.com/video/52800550" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

        <div class="container space-xlarge">
            <div class="row group">
                <div class="column-4">
                    <h2 class="ms4">List your habit goals</h2>
                    <p>Set up your personal list of habits which you want to cultivate and / or ditch. Plus you should associate a reward with each goal set!</p>
                </div>

                <div class="column-4">
                    <h2 class="ms4">Monitor your progress</h2>
                    <p>Check in to your account daily to manage your daily progress. Aim for 30 straight days of doing what you set out to accomplish!</p>
                </div>

                <div class="column-4">
                    <h2 class="ms4">Reward yourself</h2>
                    <p>Upon completion of each goal, go ahead, reward yourself with what you've set at the beginning of this journey!</p>
                </div>
            </div>
        </div>
    </section>
</template>